<p-toast ></p-toast>

<div class="forgot-container">
  <!-- STEP 1 -->
  <div *ngIf="step === 1">
    <h2 class="form-title">Forgot Password</h2>
    <form [formGroup]="emailForm" (ngSubmit)="getForgotPassword()" class="p-fluid form-layout">
      <div>
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          pInputText
          placeholder="Enter your email"
          formControlName="email"
          class="w-full input-custom"
        />
        <small
          class="p-error"
          *ngIf="emailForm.controls['email'].touched && emailForm.controls['email'].invalid"
        >
          Valid email is required
        </small>
      </div>
      <button
        pButton
        type="submit"
        label="Submit"
        class="p-button-rounded p-button-primary w-full"
      ></button>
       <div style="text-align: center; margin-top: -10px; margin-bottom: 10px;">
              <a href="/login">Back to Login</a>
        </div>
    </form>
  </div>

  <!-- STEP 2 -->
  <div *ngIf="step === 2">
    <h2 class="form-title">Reset Password</h2>
    <form [formGroup]="passwordForm" (ngSubmit)="resetPassword()" class="p-fluid form-layout">
      <div class="form-field">
        <label for="username">Username</label>
        <input
          id="username"
          pInputText
          formControlName="username"
          class="w-full input-custom"
        />
      </div>

      <div class="form-field">
        <label for="newPassword">New Password</label>
        <p-password
          id="newPassword"
          formControlName="newPassword"
          [feedback]="true"
          toggleMask="true"
          placeholder="Enter new password"
          class="w-full input-custom"
        ></p-password>
        <small
          class="p-error"
          *ngIf="passwordForm.controls['newPassword'].touched && passwordForm.controls['newPassword'].invalid"
        >
          Min length 8 characters
        </small>
      </div>

      <div class="form-field">
        <label for="confirmPassword">Confirm Password</label>
        <p-password
          id="confirmPassword"
          formControlName="confirmPassword"
          toggleMask="true"
          placeholder="Re-enter password"
          class="w-full input-custom"
        ></p-password>
      </div>

      <button
        pButton
        type="submit"
        label="Reset Password"
        class="p-button-rounded p-button-success w-full mt-3"
      ></button>
    </form>
  </div>
</div>
